h1 {
    color: blue;
    margin: 0px;
}


/* ini adalah komen */

p {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
}

.test {
    font-family: cursive;
}

#test2 {
    color: blueviolet;
}